  <% if object.errors.any? %>
  <section id="errors" class="bg-yellow-100 p-4 grid gap-2 mb-6">
    <h2>Form could not be saved</h2>
    <h3>Please correct the following
      <%= pluralize(object.errors.size, "error") %>:
    </h3>
    <ul class="list-decimal pl-6">
      <% object.errors.full_messages.each do |message |%>
        <li class="text-red-800">
          <%= message %>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>
